<!-- Page Header-->
<header class="masthead" style="background-image: url(<%= asset_path 'step2.jpg' %>)">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Écran de confirmation</h1>
                    <span class="subheading">pour une double confirmation</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <span class="subheading">Envoyer avec le contenu suivant.</span>
          <div class="my-5">
          <%= form_with(model: @post, local: true) do |form| %>
            <%= form.hidden_field :content %>
            <p>Text:<%= @post.content %></p>
            <%= form.submit  "register" %>
            <% end %>
            <%= link_to 'Return', :back %>
          </div>
            </div>
        </div>
    </div>
</main>